<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Homepage</h1>
      <p>Sub-title</p>

      <%= link_to "See transactions", transactions_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>

