<div class="container">
  <div class="row">
    <div class="col">
      <div class="title">
        <h1>All transactions</h1>
      </div>
      <div class="list-transaction">
        <% @transactions.each do |transaction| %>
          <%= link_to transaction_path(transaction) do %>
            <div class="card-transaction">
              <img src="/" alt="<%= transaction.account %>">
              <div class="card-transaction-infos">
                <h2><%= transaction.description %></h2>
                <p><%= humanized_money_with_symbol(transaction.amount) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
